@font-face {
    font-family: "Medium";
    src: url(../../assets/fonts/NTSomic/NTSomic-Regular.woff2) format("woff2"),
    url(../../assets/fonts/NTSomic/NTSomic-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regular";
    src: url(../../assets/fonts/NTSomic/NTSomic-Regular.woff2) format("woff2"),
    url(../../assets/fonts/NTSomic/NTSomic-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --white-200: rgba(232, 238, 245, 1);
    --gray-400: rgba(115, 123, 134, 1);
    --gray-500: rgba(255, 255, 255, 0.1);

    --blacked-text: rgba(132, 148, 171, 1);
    --blacked-text-opacity: rgba(132, 148, 171, 0.33);
    --dark-gray: rgba(34, 38, 44, 1);
    --dark: rgba(24, 23, 23, 1);

    --accent: rgba(76, 98, 130, 1);
    --danger: rgba(234, 37, 80, 1);

    --wrapper-width: 1400px;
    --px: 100px;
    --py: 90px;

    --medium: "Medium";
    --regular: "Regular";

    --descktop: 1600px;
    --notebook: 1440px;
    --square: 1280px;
    --tablet: 991px;
    --mobile: 767px;
    --phone: 480px;
}

@media screen and (max-width: 1280px) {
    :root {
        --px: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        --px: 40px;
        --py: 70px;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --px: 16px;
        --py: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .tab-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .tab-m-w-auto {
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .mob-hidden {
        display: none !important;
    }

    .mob-w-auto {
        width: auto !important;
    }
}

/* Стили для Chrome, Safari, Edge */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--white) !important;
    caret-color: var(--white);
}

.w-auto {
    width: auto !important;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
    opacity: 0.7;
    z-index: 9999;
}

.spinner {
    border: 6px solid var(--white);
    border-top: 6px solid var(--accent);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

section[role="tabpanel"].active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    height: auto;
    z-index: 1;
}

.hiddenTagContent {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    height: 0;
    z-index: -9;
}

.custom-windows {
    padding-top: 20px;
}

.custom-windows > div {
    line-height: 1;
}

.processScrollMain {
    overflow-x: hidden;
}

.s-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 0 var(--px);
    padding-top: var(--py);
    padding-bottom: var(--py);
}

.s-container.s-container__top {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: var(--py);
}

.s-container:last-of-type {
    padding-bottom: calc(var(--py) * 2);
}

.s-wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: var(--wrapper-width);
}

.s-column {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    position: relative;
    background: var(--dark);
    /*font-family: var(--regular);*/
}

.paintBackground {
    background: var(--dark-gray);
}

.overflowX-h {
    overflow-x: hidden !important;
}

.overflowWrapHidden {
    overflow: hidden !important;
    width: max-content;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.w-full {
    width: 100% !important;
}

.sticky-0 {
    position: sticky !important;
    top: 0 !important;
    z-index: 99 !important;
}

/* CSS */

.grow {
    flex-grow: 1;
    display: block !important;
}

h1 {
    margin: 0;
}

h2 {
    font-family: var(--medium);
    font-size: 54px;
    text-transform: uppercase;
    line-height: 59.4px;
    color: var(--white-200);
    margin: 0;
    letter-spacing: 3px;
}

@media screen and (max-width: 1440px) {
    h2 {
        font-size: 48px;
        line-height: 52px;
    }
}

@media screen and (max-width: 1280px) {
    h2 {
        font-size: 42px;
        line-height: 47px;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 38px;
        line-height: 41.8px;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 26px;
        line-height: 32.5px;
    }
}

h3 {
    font-family: var(--medium);
    font-size: 46px;
    line-height: 55.2px;
    color: var(--white-200);
    margin: 0;
}

@media screen and (max-width: 1440px) {
    h3 {
        font-size: 42px;
        line-height: 47px;
    }
}

@media only screen and (max-width: 1280px) {
    h3 {
        font-size: 38px;
        line-height: 42px;
    }
}

@media screen and (max-width: 1024px) {
    h3 {
        font-size: 30px;
        line-height: 36px;
    }
}

p {
    font-family: var(--regular);
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
    margin: 0;
}


.c-btn {
    font-family: var(--medium);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: inherit;
    transition: 0.3s;
    max-width: 340px;
    border-radius: 14px;
    width: 100%;
    padding: 10px 30px;
    height: 62px;
    border: none;
}

@media only screen and (max-width: 1024px) {
    .c-btn {
        font-size: 16px;
        max-width: 230px;
        height: 43px;
    }
}

.c-btn__accent {
    background: var(--accent);
    color: var(--white-200);
    border: 1px solid var(--accent);
}

.c-btn__accent:hover {
    background: var(--white-200);
    color: var(--dark);
    border-color: var(--white-200);
}

.c-btn__opacity {
    color: var(--white-200);
    border: 1px solid var(--white-200);
}

.c-btn__opacity:hover {
    background: var(--white-200);
    color: var(--dark);
    border-color: var(--white-200);
}

.c-btn__pouring {
    background: var(--white-200);
    color: var(--dark);
    border: 1px solid var(--white-200);
}

.c-btn__pouring:hover {
    background: inherit;
    color: var(--white-200);
}

.c-btn__tag {
    max-width: 340px;
    width: 100%;
    height: 54px;
    color: var(--blacked-text);
    border: 1px solid var(--blacked-text);
}

@media only screen and (max-width: 1024px) {
    .c-btn__tag {
        max-width: 230px;
        height: 43px;
    }
}

.c-btn__hoverAccent:hover {
    background: var(--accent);
    color: var(--white-200);
    border: 1px solid var(--accent);
}

.c-btn__tag:hover,
.c-btn__tag.active {
    color: var(--white);
    border-color: var(--white);
}

.mac .c-btn {
    padding: 10px 30px 15px;
}

.c-blacked-text {
    color: var(--blacked-text);
}

.c-blacked-text-opacity {
    color: var(--blacked-text-opacity);
}

.c-position {

}

.c-position.c-position__2 {

}

.c-position__text {

}

.c-position__text span {

}

.c-position__big-text {

}

.c-header {
    padding: 16px var(--px);
    width: 100%;
    height: 60px;
    margin-bottom: -60px;
    z-index: 99;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .c-header {
        padding: 10px var(--px);
        height: 40px;
    }
}

.c-header__wrapper {
    width: 100%;
    max-width: var(--wrapper-width);
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.c-header__logo {
    margin: 0;
    display: block;
    max-width: 127px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .c-header__logo {
        max-width: 110px;
    }
}

@media only screen and (max-width: 767px) {
    .c-header__logo {
        max-width: 94px;
    }
}

.c-header__logo img {
    width: 100%;
}

.c-header__nav {

}

@media only screen and (max-width: 767px) {
    .c-header__nav {
        display: none;
    }
}

.c-header__nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    .c-header__nav ul {
        gap: 20px;
    }
}

.c-header__nav ul li {
    padding: 0;
    margin: 0;
}

.c-header__nav ul li a {
    font-family: var(--medium);
    font-size: 20px;
    color: var(--white);
    transition: 0.2s;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .c-header__nav ul li a {
        font-size: 16px;
        line-height: 21.6px;
    }
}

@media only screen and (max-width: 991px) {
    .c-header__nav ul li a {
        font-size: 14px;
    }
}

.c-header__nav ul li a:hover {
    color: var(--accent);
}

.c-banner {
    height: 100vh;
    min-height: 860px;
    /*max-height: 1080px;*/
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .c-banner {
        min-height: max-content;
    }
}

.c-banner__img {
    padding-top: 0;
    padding-bottom: 80px;
}

.c-banner__btn-left {
    width: 100%;
    max-width: 561px;
}

.c-banner__img .c-banner__text {
    text-align: left !important;
    font-family: var(--regular) !important;
}

.banner__gif {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 860px;
    margin-left: calc((100vw - 100%) / 2 * -1);
}

@media only screen and (max-width: 1280px) {
    .banner__gif {
        min-height: 550px;
    }
}

.banner__gif:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
}

.c-banner__img-right .banner__gif {
    width: calc(55.75vw - var(--px));
    margin-left: 0;
    right: calc((100vw - 100%) / 2 * -1);
}

@media only screen and (max-width: 1280px) {
    .c-banner__img-right .banner__gif {
        width: calc(45.75vw - var(--px));
    }
}

.banner__gif-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__gif img {
    position: absolute;
}

.c-banner__top {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    padding-top: 60px;
}

@media only screen and (max-width: 1024px) {
    .c-banner__top {
        gap: 0;
    }
}

@media only screen and (max-height: 960px) {
    .c-banner__top {
        padding-top: 20px;
        gap: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .c-banner__top {
        padding-top: 6px;
    }
}

.c-banner__text {
    letter-spacing: 4px;
}

.c-banner__text-text {
    font-family: var(--medium);
    font-size: 20px;
    line-height: 27px;
    color: var(--white-200);
}

.c-banner__title {
    font-family: var(--medium);
    font-size: 340px;
    line-height: 223px;
    margin-bottom: 73px;
    color: var(--gray-500);
    letter-spacing: 4%;
}

@media only screen and (max-width: 1024px) {
    .c-banner__title {
        font-size: 180px;
        line-height: 180px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .c-banner__title {
        font-size: 130px;
        line-height: 130px;
        margin-left: -13px;
    }
}

.c-banner__footer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 45px;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 1024px) {
    .c-banner__footer > *:last-of-type {
        flex-shrink: 0;
    }
}

@media only screen and (max-height: 960px) {
    .c-banner__footer {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .c-banner__footer {
        flex-direction: column-reverse;
        gap: 15px;
        padding-top: 40px;
    }
}

.c-banner__wrap-btn-footer {
    max-width: 343px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .c-banner__wrap-btn-footer {
        max-width: 100%;
    }
}

.c-banner__footer-title {
    max-width: 810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media only screen and (max-width: 1280px) {
    .c-banner__footer-title {
        max-width: inherit;
    }
}

.c-banner__footer-span {
    display: flex;
    gap: 32px;
    align-items: center;
    color: var(--white);
    font-family: var(--regular);
    font-size: 46px;
    line-height: 55.2px;
    padding-right: 70px;
}

@media only screen and (max-width: 1280px) {
    .c-banner__footer-span {
        font-size: 42px;
        line-height: 47px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-banner__footer-span {
        font-size: 38px;
        line-height: 41.8px;
    }
}

@media screen and (max-width: 767px) {
    .c-banner__footer-span {
        font-size: 26px;
        line-height: 32.5px;
    }
}

.c-banner__footer-span span:first-of-type {
    order: 2;
}

.c-banner__footer-span:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--white);
    order: 1;
}

.mac .c-banner__footer-span:after {
    margin-top: 15px;
}

.c-banner__footer-span span {
    text-wrap: nowrap;
}

.c-banner__footer .c-banner__text {
    text-align: right;
}

.c-banner__btn {

}

@media screen and (max-width: 767px) {
    .c-banner__btn {
        max-width: 100%;
    }
}

.mac .c-banner__process{
    transition: transform 0.8s ease-out;
}

.windows .c-banner__process {
    transition: transform 0.8s ease-out;
}

.c-banner__process {
    z-index: 1;
    display: flex;
    gap: 50vw;
    position: absolute;
    overflow: scroll;
    left: 0;
    width: max-content;
    padding-left: 40%;
}

@media only screen and (max-width: 1440px) {
    .c-banner__process {
        padding-left: 42%;
    }
}

@media only screen and (max-width: 1280px) {
    .c-banner__process {
    }
}

@media only screen and (max-width: 1024px) {
    .c-banner__process {
        padding-left: 42%;
    }
}

@media only screen and (max-width: 767px) {
    .c-banner__process {
        padding-left: 22%;
    }
}

.c-banner__process::-webkit-scrollbar {
    width: 0;
}

.c-banner__process-item {
    max-width: 700px;
}

.c-banner__process-item .overflowWrapHidden {
    width: auto;
}

.c-banner__process-item img {
    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .c-banner__process-item {

    }
}

@media only screen and (max-width: 1024px) {
    .c-banner__process-item {
        max-width: 440px;
        width: 100%;
    }

    .c-banner__process-item .overflowWrapHidden {
        width: 100%;
    }
}


@media only screen and (max-width: 991px) {
    .c-banner__process-item {

    }
}

@media only screen and (max-width: 767px) {
    .c-banner__process-item {
        max-width: 77vw;
    }
}

.c-banner__process-item img {
    object-fit: cover;
}


@media only screen and (max-height: 960px) {
    .c-banner__process-item img {
        object-fit: cover;
        margin-top: -20px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-banner__process-item img {
        width: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .c-banner__process-item img {
        margin-top: 55px;
    }
}

.c-banner__bottom {
    z-index: 2;
}

.c-banner__bottom-pt {
    padding-top: 120px;
}

.c-banner__process-bar {
    width: 100%;
    height: 6px;
    background: var(--gray-500);
    border-radius: 3px;
}

.c-banner__process-bar span {
    display: block;
    height: 100%;
    /*min-width: 24px;*/
    width: 0;
    border-radius: 3px;
    background: var(--white);
    transition: 0.8s;
}

.no-scroll {
    overflow: hidden !important;
}

.c-banner__info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 150px;
    padding: 45px 0;
}

@media only screen and (max-width: 767px) {
    .c-banner__info {
        overflow: auto;
        width: 100%;
        padding: 24px 0;
    }
}

@media only screen and (max-width: 1440px) {
    .c-banner__info {
        gap: 70px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-banner__info {
        gap: 8px;
    }
}

@media only screen and (max-height: 960px) {
    .c-banner__info {
        padding: 30px 0;
    }
}

.c-banner__info-item {
    max-width: 230px;
    width: 100%;
    font-size: 16px;
    color: var(--white-200);
    font-family: var(--regular);
}

@media only screen and (max-width: 1024px) {
    .c-banner__info-item {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-info-box {
    position: relative;
}

.c-info-box__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.c-info-box__title {

}

.c-info-box__wrap-btn-top {
    max-width: 340px;
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    .c-info-box__wrap-btn-top {
        max-width: 260px;
    }
}

@media only screen and (max-width: 767px) {
    .c-info-box__wrap-btn-top {
        display: none;
    }
}

.c-info-box__info {
    display: flex;
    gap: 16px;
    padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__info {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .c-info-box__info {
        flex-direction: column;
    }
}

.c-info-box__info-item {
    width: 100%;
    font-family: var(--regular);
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
}

@media only screen and (max-width: 1024px) {
    .c-info-box__info-item {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-info-box__info-item:first-of-type {
    max-width: 336px;
}

.c-info-box__info-item:last-of-type {
    max-width: 343px;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__info-item:first-of-type {
        max-width: 222px;
    }

    .c-info-box__info-item:last-of-type {
        max-width: 230px;
    }
}

@media only screen and (max-width: 767px) {
    .c-info-box__info-item:first-of-type {
        max-width: 270px;
        margin: 0 auto;
    }

    .c-info-box__info-item:last-of-type {
        max-width: 270px;
        margin: 0 auto;
    }
}

.c-info-box__btn {

}

.c-info-box__info-mini {
    display: flex;
    flex-direction: column;
    gap: 62px;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 1440px) {
    .c-info-box__info-mini {
        gap: 42px;
    }
}

@media only screen and (max-width: 1280px) {
    .c-info-box__info-mini {
        gap: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .c-info-box__info-mini {
        gap: 0;
    }
}

.c-info-box__info-mini-item {
    width: 100%;
    font-family: var(--regular);
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white);
    display: flex;
    height: 60px;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__info-mini-item {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-info-box__info-mini-item span {
    font-family: var(--medium);
    font-size: 54px;
    margin-right: 4px;
    display: block;
    margin-top: 10px;
    width: 160px;
}

@media only screen and (max-width: 1440px) {
    .c-info-box__info-mini-item span {
        font-size: 48px;
        width: 130px;
    }
}

@media only screen and (max-width: 1280px) {
    .c-info-box__info-mini-item span {
        font-size: 42px;
        width: 130px;
    }
}
@media only screen and (max-width: 1024px) {
    .c-info-box__info-mini-item span {
        font-size: 38px;
        width: 77px;
    }
}

@media screen and (max-width: 767px) {
    .c-info-box__info-mini-item span {
        font-size: 26px;
        line-height: 32.5px;
    }
}

.c-info-box__content {
    max-width: 708px;
    width: 100%;
    margin: 0 auto;
    padding-top: 44px;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__content {
        padding-top: 24px;
        max-width: 480px;
    }
}

.c-info-box__content-top {

}

.c-info-box__content-bottom {
    padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__content-bottom {
        padding-top: 60px;
    }
}

.c-info-box__content-text {
    font-family: var(--medium);
    text-transform: uppercase;
    line-height: 59.4px;
    white-space: nowrap;
    position: relative;
}

@media only screen and (max-width: 1440px) {
    .c-info-box__content-text {
        font-size: 48px;
        line-height: 52px;
    }
}

@media only screen and (max-width: 1280px) {
    .c-info-box__content-text {
        font-size: 42px;
        line-height: 47px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-info-box__content-text {
        font-size: 38px;
        line-height: 41.8px;
    }
}

@media only screen and (max-width: 991px) {
    .c-info-box__content-text {
        white-space: normal;
    }
}

@media screen and (max-width: 767px) {
    .c-info-box__content-text {
        font-size: 26px;
        line-height: 32.5px;
    }

    .c-info-box__content-text.mob-pl {
        max-width: 270px;
        margin: 0 auto;
    }
}

.c-info-box__content-text-position {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    font-family: var(--regular);
    text-transform: none;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
}

.c-info-box__content-text span {
    font-family: var(--regular);
    font-size: 220px;
    line-height: 153px;
}

@media only screen and (max-width: 1440px) {
    .c-info-box__content-text span {
        font-size: 180px;
        line-height: 124px;
    }
}

@media only screen and (max-width: 1280px) {
    .c-info-box__content-text span {
        font-size: 160px;
        line-height: 110px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-info-box__content-text span {
        font-size: 150px;
    }
}

@media only screen and (max-width: 991px) {
    .c-info-box__content-text span {
        font-size: 100px;
        line-height: 80px;
    }
}

.c-info-box__content-position {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    .c-info-box__content-position {
        gap: 10px;
    }
}

.c-info-box__content-position-item {
    width: 100%;
    font-family: var(--regular);
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
}

@media only screen and (max-width: 1280px) {
    .c-info-box__content-position-item span {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-info-box__content-position-item-small {
    max-width: 297px;
}

.c-info-box__content-position-item-middle {
    max-width: 342px;
}

.c-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media only screen and (max-width: 767px) {
    .c-product {
        gap: 24px;
    }
}

.c-product__wrap-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.c-product__header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
}

.c-product__title {
    display: flex;
    gap: 105px;
}

@media only screen and (max-width: 1024px) {
    .c-product__title {
        gap: 75px;
    }
}

@media only screen and (max-width: 767px) {
    .c-product__title {
        gap: 24px;
        flex-direction: column;
    }
}

.c-product__title-title {

}

.c-product__title-text {
    max-width: 340px;
    width: 100%;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
    font-family: var(--regular);
}

@media only screen and (max-width: 1024px) {
    .c-product__title-text {
        max-width: 228px;
        font-size: 14px;
        line-height: 18.9px;
    }
}

@media only screen and (max-width: 767px) {
    .c-product__title-text {
        max-width: 100%;
    }
}

.c-product__switch {
    display: flex;
    gap: 14px;
    align-items: center;
}

.c-product__switch-btn {
    cursor: pointer;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    width: 64px;
    height: 42px;
    background-image: url('../../assets/icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
    .c-product__switch-btn {
        width: 52px;
        height: 31px;
        background-size: contain;
    }
}

.c-product__switch-btn[disabled] {
    opacity: 0.2;
    cursor: no-drop;
}

.c-product__switch-btn:hover {
    background-image: url('../../assets/icon/arrow-right-accent.svg');
}

.c-product__switch-btn[disabled]:hover {
    background-image: url('../../assets/icon/arrow-right.svg');
}

.c-product__switch-btn img {

}

.c-product__switch-btn.prev {
    transform: rotate(180deg);
}

.c-product__switch-btn.next {

}

.c-product__tags {
    width: calc(100% + ((100vw - 100%) / 2));
    overflow-x: scroll;
    transition: transform 1s ease-out;
    margin-bottom: -16px;
}

.c-product__tags::-webkit-scrollbar {
    width: 0;
}

.c-product__tags ul {
    width: 100%;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.c-product__tags ul li {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    max-width: 340px;
    width: 100%;
    display: inline-block;
}

@media only screen and (max-width: 1024px) {
    .c-product__tags ul li {
        max-width: 230px;
    }
}

.c-product__tags ul li button {

}

.c-product__tab-content {
    width: 100%;
}

.c-product__tab-content section {

}

.c-product__cards {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 767px) {
    .c-product__cards {
        flex-direction: column;
    }
}

.c-product__cards-item {
    position: relative;
    width: 343px;
    flex-shrink: 0;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 44px 24px;
    cursor: pointer;
    transition: 0.4s;
}

@media only screen and (max-width: 1024px) {
    .c-product__cards-item {
        height: 334px;
        width: 230px;
        padding: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .c-product__cards-item {
        width: 100%;
        height: 151px;
    }
}

.c-product__cards-item.active {
    flex-grow: 1;
}

@media only screen and (max-width: 767px) {
    .c-product__cards-item.active {
        height: 234px;
    }
}

.c-product__cards-item > * {
    position: relative;
    z-index: 3;
}

.c-product__cards-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.c-product__cards-item.active:before {
    opacity: 0;
}

.c-product__cards-item-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-product__cards-item-title {
    font-family: var(--medium);
    color: var(--white-200);
    font-size: 20px;
    line-height: 25px;
}

@media only screen and (max-width: 1024px) {
    .c-product__cards-item-title {
        font-size: 16px;
        line-height: 21.6px;
    }
}

.c-product__cards-item-title span {
    display: block;
    width: 100%;
    font-family: var(--regular);
    font-size: 16px;
    line-height: 21.6px;
}

@media only screen and (max-width: 1024px) {
    .c-product__cards-item-title span {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-product__cards-item-counter {
    font-family: var(--medium);
    font-size: 20px;
    line-height: 25px;
    color: var(--white-200);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
    .c-product__cards-item-counter {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-product__cards-item.active .c-product__cards-item-counter {
    opacity: 1;
    visibility: inherit;
    z-index: 1;
}

.c-product__cards-item-center {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.c-product__cards-item-center img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.c-product__cards-item-center img.active {
    opacity: 1;
}

.c-product__cards-item-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.2s;
}

.c-product__cards-item.active .c-product__cards-item-bottom {
    opacity: 1;
    visibility: inherit;
    z-index: 3;
}

.c-product__btn {
    max-width: 695px;
}

@media only screen and (max-width: 1440px) {
    .c-product__btn {
        max-width: 540px;
    }
}

@media only screen and (max-width: 1024px) {
    .c-product__btn {
        max-width: 467px;
    }
}

@media only screen and (max-width: 767px) {
    .c-product__btn {
        max-width: 100%;
    }
}

.c-product__gallery {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .c-product__gallery {
        flex-direction: column;
    }
}

.c-product__gallery-group {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .c-product__gallery-group {
        width: 100%;
    }
}

.c-product__gallery-group-right {
    padding: 44px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .c-product__gallery-group-right {
        padding: 24px;
        height: 334px;
    }
}

@media only screen and (max-width: 767px) {
    .c-product__gallery-group-right {
        height: auto;
        padding: 24px 12px;
        gap: 30px;
    }
}

.c-product__gallery-cards {
    width: 100%;
}

.c-product__gallery-top {

}

.c-product__gallery-title {
    font-family: var(--medium);
    font-size: 46px;
    line-height: 55.2px;
    color: var(--white-200);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .c-product__gallery-title {
        font-size: 30px;
        line-height: 36px;
        gap: 6px;
    }
}

.c-product__gallery-title span {
    width: 100%;
    display: block;
    font-size: 20px;
    line-height: 25px;
}

@media only screen and (max-width: 1024px) {
    .c-product__gallery-title span {
        font-size: 16px;
        line-height: 21.6px;
    }
}

.c-product__gallery-bottom {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

@media only screen and (max-width: 1024px) {
    .c-product__gallery-bottom {
        gap: 24px;
    }
}

.c-product__gallery-btn {

}

@media only screen and (max-width: 767px) {
    .c-product__gallery-btn {
        max-width: 100%;
    }
}

.c-product__gallery-text {
    width: 100%;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--white-200);
    font-family: var(--regular);
}

@media only screen and (max-width: 1024px) {
    .c-product__gallery-text {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-models {

}

.c-models__header {

}

.c-models__title {
    max-width: 787px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .c-models__title {
        max-width: 587px;
    }
}

.c-models__content {
    display: flex;
    gap: 30px;
}

@media only screen and (max-width: 767px) {
    .c-models__content {
        flex-direction: column-reverse;
    }
}

.c-models__group {
    width: 50%;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-models__group:first-of-type {
    width: 45%;
}

.c-models__group:last-of-type {
    width: 55%;
}

@media only screen and (max-width: 1280px) {
    .c-models__group:first-of-type {
        width: 55%;
    }

    .c-models__group:last-of-type {
        width: 45%;
    }
}

@media only screen and (max-width: 767px) {
    .c-models__group:first-of-type {
        width: 100%;
    }

    .c-models__group:last-of-type {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .c-models__group {
        height: 280px;
    }
}

@media only screen and (max-width: 767px) {
    .c-models__group:last-of-type {
        height: 500px;
        padding-top: 50px;
    }

    .c-models__group:first-of-type {
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .c-models__group:last-of-type {
        height: 300px;
        padding-top: 50px;
    }
}

.c-models__images {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.c-models__images img {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .c-models__images img {
        transform: scale(1.1);
    }
}

.c-models__images img.hidden-img {
    opacity: 0;
}

.modelsImages2 img.hidden-img {
    opacity: 0;
}

.c-models__info {
    display: flex;
    gap: 30px;
}

@media only screen and (max-width: 1280px) {
    .c-models__info {
        gap: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .c-models__info {
        flex-direction: column;
        gap: 24px;
    }
}

.c-models__info-item {
    max-width: 320px;
    width: 100%;
    font-family: var(--regular);
    font-size: 16px;
    color: var(--white-200);
    line-height: 21.6px;
    padding-top: 80px;
}

@media only screen and (max-width: 1024px) {
    .c-models__info-item {
        max-width: 230px;
        font-size: 14px;
        line-height: 18.9px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .c-models__info-item {
        max-width: 100%;
        padding-top: 0;
    }
}

.c-models__btn {
    background: inherit;
    border: none;
    font-size: 54px;
    line-height: 59.4px;
    color: var(--white-200);
    display: flex;
    align-items: flex-end;
    text-align: left;
    gap: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1024px) {
    .c-models__btn {
        font-size: 38px;
        line-height: 41.8px;
    }
}

@media screen and (max-width: 767px) {
    .c-models__btn {
        font-size: 26px;
        line-height: 32.5px;
        margin-top: 32px;
    }
}

.c-models__btn:after {
    content: '';
    width: 48px;
    height: 38px;
    margin-bottom: 10px;
    background-image: url('../../assets/icon/arrow-right-big.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
    .c-models__btn:after {
        width: 34px;
        height: 27px;
        background-size: contain;
    }
}

.c-models__btn:hover {
    color: var(--accent);
}

.c-models__btn:hover:after {
    background-image: url('../../assets/icon/arrow-right-big-accent.svg');
}

.c-form {
    width: 100%;
}

.c-form__title {
    padding-bottom: 34px;
}

@media only screen and (max-width: 1024px) {
    .c-form__title {
        padding-bottom: 24px;
    }
}

#wpcf7-f383-o1 {
    margin-top: -60px;
    margin-bottom: -60px;
}

.c-form__form {
    width: 100%;
    max-width: 695px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .c-form__form {
        max-width: 467px;
    }
}

.c-form__form span {
    font-family: var(--regular);
    color: var(--white-200);
    font-size: 16px;
    line-height: 21.6px;
}

.c-form__form-title {
    padding-bottom: 56px;
    white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
    .c-form__form-title {
        padding-bottom: 16px;
        white-space: normal;
    }
}

@media only screen and (max-width: 480px) {
    .c-form__form-title {
        padding-left: 58px;
    }
}

.c-form__input {

}

input::placeholder {
    color: var(--blacked-text);
}

.c-form__input input {
    background: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--blacked-text);
    color: var(--gray-400);
    font-family: var(--medium);
    font-size: 20px;
    line-height: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--white);
}

@media only screen and (max-width: 1024px) {
    .c-form__input input {
        font-size: 16px;
        line-height: 21.6px;
        height: 35px;
    }
}


.c-form__btn {
    margin-top: 8px;
    max-width: 100%;
}

.c-footer {
    position: relative;
    width: 100%;
    padding: 100px var(--px) 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .c-footer {
        padding: 60px var(--px) 40px;
    }
}

@media only screen and (max-width: 767px) {
    .c-footer {
        padding-bottom: 32px;
    }
}

.c-footer__wrapper {
    max-width: var(--wrapper-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.c-footer__btn-up {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    display: block;
    width: 55px;
    height: 40px;
    top: 10px;
    right: 0;
    transform: rotate(-90deg);
    background-color: inherit;
    border: none;
    background-image: url('../../assets/icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

.c-footer__btn-up:hover {
    background-image: url('../../assets/icon/arrow-right-accent.svg');
}

.c-footer__nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

@media only screen and (max-width: 767px) {
    .c-footer__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 56px 30px;
        width: 100%;
    }

    .c-footer__nav > :nth-child(3) {
        justify-self: end;
    }

    .c-footer__nav > :nth-child(4) {
        justify-self: end;
    }
}

.c-footer__nav ul {
    max-width: 206px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (max-width: 767px) {
    .c-footer__nav ul {
        gap: 12px;
    }
    .c-footer__nav ul:nth-child(1) {
        order: 1;
    }
    .c-footer__nav ul:nth-child(2) {
        order: 3;
    }
    .c-footer__nav ul:nth-child(3) {
        order: 2;
    }
    .c-footer__nav ul:nth-child(4) {
        order: 4;
    }

}

@media only screen and (max-width: 991px) {
    .c-footer__nav ul {
        max-width: 175px;
    }
}

.c-footer__nav ul li {
    padding: 0;
    margin: 0;
}

.c-footer__nav ul li:first-of-type {
    padding-bottom: 16px;
    font-family: var(--medium);
    color: var(--white-200);
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .c-footer__nav ul li:first-of-type {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .c-footer__nav ul li:first-of-type {
        padding-bottom: 12px;
    }
}

.c-footer__nav ul li a {
    font-family: var(--regular);
    color: var(--white-200);
    font-size: 16px;
    line-height: 21.6px;
    margin: 0;
    transition: 0.2s;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .c-footer__nav ul li a {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.c-footer__nav ul li a:hover {
    color: var(--accent);
}

.c-footer__logo {
    width: 100%;
    margin: 0;
    display: block;
}

@media only screen and (max-width: 767px) {
    .c-footer__logo {
        padding-top: 60px;
    }
}

.c-footer__logo img {
    width: 100%;
}

.c-footer__b-policy {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}

@media only screen and (max-width: 1024px) {
    .c-footer__b-policy {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .c-footer__b-policy {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
}

.c-footer__bottom-item {
    color: var(--blacked-text);
    font-size: 16px;
    line-height: 21.6px;
    font-family: var(--regular);
    text-decoration: none;
    transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
    .c-footer__bottom-item {
        font-size: 14px;
        line-height: 18.9px;
    }
}

a.c-footer__bottom-item:hover {
    color: var(--white);
}

.c-modal {
    z-index: 9999;
    opacity: 0; /* Начальное состояние */
    position: fixed;
    transition: opacity 0.3s ease;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: auto;
}

.c-modal:before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    /*background: rgba(34, 38, 44, 0.5);*/
    opacity: 0; /* Начальное состояние */
    transition: opacity 0.3s ease;
    min-height: 960px;
}

.c-modal__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0;
}

.c-modal.fade-in {
    opacity: 1; /* Конечное состояние */
    visibility: visible;
}

.c-modal.fade-in:before {
    opacity: 1; /* Конечное состояние */
}

.c-modal.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.c-modal__wrap {
    transform: translateY(100%); /* Начальное состояние */
    transition: transform 0.5s ease;
    z-index: 2;
    position: relative;
}

.c-modal.fade-in .c-modal__wrap {
    transform: translateY(0); /* Конечное состояние */
}

@media screen and (max-width: 991px) {
    /* Общие стили для модального окна */
    .c-modal {
        width: 100%;
        max-width: 393px;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    /* Анимация перемещения и исчезновения */
    .c-modal.fade-out .c-modal__wrap {
        animation: slideDown 0.5s ease forwards;
    }

    .c-modal.fade-out {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    /* Анимация перемещения вниз */
    @keyframes slideDown {
        0% {
            transform: translateY(0); /* Начальное положение */
        }
        100% {
            transform: translateY(2000px); /* Перемещение вниз */
        }
    }

    @media screen and (max-width: 991px) {
        .c-modal.fade-out .c-modal__wrap {
            /* Перемещение вниз на мобильных устройствах */
            animation: slideDown 0.5s ease forwards;
        }
    }
}

.c-modal__wrap {
    border-radius: 20px;
    position: relative;
}

.c-modal__wrap.min-h {
    min-height: 721px;
}

@media screen and (max-width: 991px) {
    .c-modal__wrap.min-h {
        min-height: 630px;
    }
}

.c-modal__content {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: max-content;
    padding: var(--py) 0;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .c-modal__wrap {
        max-width: 393px;
    }
}

.c-modal__open-close {
    position: absolute;
    top: -6px;
    border: none;
    right: -57px;
    cursor: pointer;
    background: none;
}

.c-modal__window {

}

.c-modal__video {

}

.c-modal__video iframe {
    width: 1000px;
    height: 562px;
}

.c-modal__window .img {
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 70vh;
}

.c-modal__form {
    display: flex;
    max-width: 1020px;
    width: 100%;
    background: var(--dark);
}

.c-modal__thanks {
    max-width: 636px;
    min-height: 625px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.c-modal__text {
    font-family: var(--medium);
    color: var(--white);
    font-size: 20px;
    line-height: 25px;
}

.c-modal__form-group {
    flex-shrink: 0;
    width: 50%
}

.c-modal__form-group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-modal__form-form {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.c-modal__form-form p button {
    margin-top: 24px;
}

.c-modal__form-group form span {
    font-family: var(--regular);
    color: var(--white);
    font-size: 16px;
    line-height: 21.6px;
}

.c-modal__form-title {
    padding-bottom: 16px;
    text-transform: inherit;
}

.c-modal__form-input {

}

.c-modal__form-input input {
    background: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--gray-400);
    font-family: var(--medium);
    font-size: 20px;
    line-height: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--white-200);
}

.c-modal__form-btn {
    max-width: 100%;
}

footer .custom-logo-link img {
    width: 100%;
    opacity: 0.8;
}

input.wpcf7-not-valid {
    border-bottom: 1px solid var(--danger);
}

input.wpcf7-not-valid::placeholder {
    color: var(--danger);
}

span.wpcf7-not-valid-tip {
    margin-top: 2px;
    position: absolute;
    color: var(--danger) !important;
}

.wpcf7-response-output {
    display: none;
}

.playButton.svelte-17wno3.svelte-17wno3 {
    opacity: 0 !important;
}